p {color: darkblue;}
h1 {color: magenta} p1 {color: darkblue}
p2 {color: red} p3 {color: darkgreen} p4 {color: red}
.p-green {color: green} .p-blue {color: blue}
#earth {width: 100px; height: 100px;}
